---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

export const prerender = true;
const title = "CityWise – Smart City Weather & Lifestyle Companion";
const description =
	"CityWise is your smart city companion, offering real-time weather updates and personalized lifestyle suggestions with a seamless user experience.";
const image = "/logo.png"; // Replace with your actual image path
const url = "https://landing-citywise.vercel.app/"; // Replace with your real domain
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
		height: 100%;
		font-family: "Space Grotesk", sans-serif;
		scroll-behavior: smooth;
	}
</style>
